@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  margin-top: 1rem;
}

.task-input {
  width: 80vw;
  border: 1px solid #b7b6b6;
  padding: 1rem;
}

.do-items {
  display: flex;

  /* justify-content: center; */
  align-items: center;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px solid #b7b6b6;
  width: 80vw;
  padding: 1rem;
}

.item-dlt-btn {
  margin: 0 0 0 auto;
}

.clear-complete-btn {
  width: 84.2vw;
}

.clear-complete-btn button {
  width: 100%;
  padding: 1rem 0;
  border: none;
  margin: -2rem 0 0 0;
}

.reset-list {
  border: none;
  background-color: transparent;
}
